doctype html
html(ng-app="aimole")
	head
		meta(charset="utf-8")
		title aimole
		meta(name="Description" content="let ai play against ai")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(property="og:image" content="https://cdn.rawgit.com/leoyuholo/aimole/6e141646a047998c4d483e0be71d4dadbdc0526b/client/thumbnail.png")

		style
			include:stylus aimole-style.stylus

		if config && config.env && config.env == 'development'
			link(href="/libs/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css" rel="stylesheet" type="text/css")
			script(src="/libs/ajax/libs/angularjs/1.5.0/angular.min.js")
			script(src="/libs/ajax/libs/angularjs/1.5.0/angular-route.min.js")
			script(src="/libs/ajax/libs/angularjs/1.5.0/angular-cookies.min.js")
			script(src="/libs/ajax/libs/jquery/2.2.0/jquery.min.js")
			script(src="/libs/ajax/libs/lodash.js/4.6.1/lodash.min.js")
			script(src="/libs/ajax/libs/async/1.5.2/async.min.js")
			script(src="/libs/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
			script(src="/libs/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.min.js")
			script(src="/libs/ajax/libs/ace/1.2.3/ace.js")
			script(src="/libs/ajax/libs/ace/1.2.3/mode-c_cpp.js")
			script(src="/libs/ajax/libs/ace/1.2.3/mode-javascript.js")
			script(src="/libs/ajax/libs/ace/1.2.3/mode-python.js")
			script(src="/libs/ajax/libs/ace/1.2.3/mode-ruby.js")
			script(src="/libs/ajax/libs/angulartics/1.0.3/angulartics.min.js")
			script(src="/libs/ajax/libs/angulartics-google-analytics/0.1.4/angulartics-google-analytics.min.js")
			script(src="/libs/js/parse-latest.min.js")
			script(src="/libs/leoyuholo/parse-angular-patch/801fe2485b2719048d3e8c72f58c9542012b2417/dist/parse-angular.js")
			script(src="/libs/angular-ui/ui-ace/36844ff7c0e0d9445bc8e31514d7f0f59cb8b048/ui-ace.min.js")
			script(src="/libs/720kb/angular-background/5eee6184802cdf9ed57894a1e9450c7f340e6c08/dist/angular-background.min.js")
			script(src="/libs/broofa/node-uuid/857ed6644f670cd3e94d6bf27328855d3a48d95f/uuid.js")
		else
			style
				include ../public/libs/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css
			script
				include ../public/libs/ajax/libs/angularjs/1.5.0/angular.min.js
			script
				include ../public/libs/ajax/libs/angularjs/1.5.0/angular-route.min.js
			script
				include ../public/libs/ajax/libs/angularjs/1.5.0/angular-cookies.min.js
			script
				include ../public/libs/ajax/libs/jquery/2.2.0/jquery.min.js
			script
				include ../public/libs/ajax/libs/lodash.js/4.6.1/lodash.min.js
			script
				include ../public/libs/ajax/libs/async/1.5.2/async.min.js
			script
				include ../public/libs/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js
			script
				include ../public/libs/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.min.js
			script
				include ../public/libs/ajax/libs/ace/1.2.3/ace.js
			script
				include ../public/libs/ajax/libs/ace/1.2.3/mode-c_cpp.js
			script
				include ../public/libs/ajax/libs/ace/1.2.3/mode-javascript.js
			script
				include ../public/libs/ajax/libs/ace/1.2.3/mode-python.js
			script
				include ../public/libs/ajax/libs/ace/1.2.3/mode-ruby.js
			script
				include ../public/libs/ajax/libs/angulartics/1.0.3/angulartics.min.js
			script
				include ../public/libs/ajax/libs/angulartics-google-analytics/0.1.4/angulartics-google-analytics.min.js
			script
				include ../public/libs/js/parse-latest.min.js
			script
				include ../public/libs/leoyuholo/parse-angular-patch/801fe2485b2719048d3e8c72f58c9542012b2417/dist/parse-angular.js
			script
				include ../public/libs/angular-ui/ui-ace/36844ff7c0e0d9445bc8e31514d7f0f59cb8b048/ui-ace.min.js
			script
				include ../public/libs/720kb/angular-background/5eee6184802cdf9ed57894a1e9450c7f340e6c08/dist/angular-background.min.js
			script
				include ../public/libs/broofa/node-uuid/857ed6644f670cd3e94d6bf27328855d3a48d95f/uuid.js

	body#aimole

		div(ng-view)

		script
			include:coffee-script aimole-main.coffee
			include:coffee-script services/parseService.coffee
			include:coffee-script services/userService.coffee
			include:coffee-script services/redirectService.coffee
			include:coffee-script services/messageService.coffee
			include:coffee-script services/modalService.coffee
			include:coffee-script services/matchService.coffee
			include:coffee-script services/analyticService.coffee

		include games/games.jade
		include game/game.jade
		include directives/aimoleHeader/aimoleHeader.jade
		include directives/aimoleEditor/aimoleEditor.jade
		include modals/playMatchModal/playMatchModal.jade
		include modals/selectPlayerModal/selectPlayerModal.jade
		include modals/leaderBoardModal/leaderBoardModal.jade
		include modals/watchRecentMatchModal/watchRecentMatchModal.jade

		if config && config.Parse && config.Parse.facebookAppIds
			script.
				window.aimole = window.aimole || {};
				window.aimole.fbAppId = '#{config.Parse.facebookAppIds}';
				window.fbAsyncInit = function() {
					Parse.FacebookUtils.init({
						appId: window.aimole.fbAppId,
						xfbml: true,
						version: 'v2.5'
					});
				};

				(function(d, s, id){
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) {return;}
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/sdk.js";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));

		if config && config.analytics && config.analytics.trackingId
			script.
				window.aimole = window.aimole || {};
				window.aimole.gaTrackingId = '#{config.analytics.trackingId}';
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', window.aimole.gaTrackingId, 'auto');

		if config && config.env && config.env === 'development'
			script.
				(function(){
					document.write(
						'<script src="http://' +
						window.location.hostname +
						':35729\/livereload.js" type="text\/javascript"><\/script>'
					);
				}).call(this);
