script
	include:coffee-script playMatchModalController.coffee
script(type="text/ng-template", id="views/playMatchModal")
	.modal-header
		h4.modal-little
			| Who do you want to play with?
			button.pull-right(type="button" class="close" ng-click="dismiss()") &times;
	.modal-body
		ul.list-group
			a.list-group-item(ng-repeat="player in players track by $index" href="javascript:void(0)" ng-click="pick($index)")
				small Player {{$index + 1}}
				ul.list-inline(ng-switch="player.type")
					li(ng-switch-when="ai")
						h4 Default AI: {{player.name}}
					//- h2(ng-switch-when="human") {{player.human.displayName}}
					li(ng-switch-when="me")
						h4 Me
					li(ng-switch-default)
						h4 Not selected yet
	.modal-footer
		button.btn.btn-primary(ng-if="!user && involveMe" type="button" ng-click="signIn()") Log in to run your code!
		button.btn(ng-disabled="!user && involveMe" ng-class="!user && involveMe ? 'btn-danger' : 'btn-primary'" type="button" ng-click="run()") Run
		button.btn.btn-default(type="button" ng-click="dismiss()") Cancel
