script
	include:coffee-script gamesController.coffee
script(type="text/ng-template", id="views/games-users")
	div#games-user
		p(ng-repeat="user in users | limitTo: 5")
			img(height="24" width="24" ng-src="https://graph.facebook.com/{{user.facebookId}}/picture?height=24&width=24")
			|  
			b.text-info {{user.displayName}}
		div.pull-right(ng-if="userCount > 5") and {{userCount - 5}} more...
script(type="text/ng-template", id="views/games")
	div#games-bg(dynamic-background="" background-image="{{bgUrl}}")
		div(aimole-header)
		.container#games-view
			.panel.panel-default
				.panel-heading
					h1 Welcome to aimole!
						.pull-right
							small
								small
									a(href="javascript:void(0)" popover-trigger="outsideClick" popover-placement="bottom" uib-popover-template="'views/games-users'")
										i(ng-click="listUsers()") See who is playing aimole!
				ul.list-group
					li.list-group-item(ng-repeat="game in games")
						h3 {{game.name}}
						ul.list-inline
							li {{game.description}}
							li
								a.btn.btn-primary(ng-href="#/game/{{game.objectId}}") Enter Arena
			.panel.panel-info
				.panel-heading
					h1 Recent Changes!
				.panel-body
					ul
						li Language Support: You can now choose to use C, Python, Javascript or Ruby to write your AI! Choose the one that you feel comfortable. Reminder: Clear the editor and refresh the page to load the predefined code templates setup for you. For your information, Python version is 2.7.11, Ruby version is 2.2.4, Node.js version is 4.2.6.
						li Rank Mode: You can submit your AI and server will match up an opponent for your AI to play against with.
						li Leader Board: Your AI will show up on the leader board after you play a rank mode game. More your AI wins, higher ranking!
						li Game Streaming: Previously, you have to wait for the server to finish running your game. Now, you don't need to wait anymore, game board will keep updating as long as the game running on server.
						li Have Fun!
			.panel.panel-info
				.panel-heading
					h1 Upcoming changes
				.panel-body
					ul
						li More games other than Othello will be available soon.
						li And more... We will keep improving aimole!
