script
	include:coffee-script aimoleEditor.coffee
	include:coffee-script aimoleEditorController.coffee
script(type="text/ng-template", id="views/aimoleEditor")
	div(ui-ace="aceOptions" ng-model="ngModel")
