script
	include:coffee-script adminController.coffee
script(type="text/ng-template", id="views/admin")
	div(aimole-header)
	.container#admin-view(ng-init="requireRole('Administrator')")
		.panel.panel-default
			.panel-heading
				h1 Add Game
			.panel-body
				form#addGame-form
					.form-group
						label(for="input-githubUrl") GitHub Url
						input#input-githubUrl.form-control(type="text", required="", ng-model="addGameForm.url")
						p.help-block e.g. https://github.com/leoyuholo/aimole-example.git
					.message-text.text-success(ng-if="addGameMsg.successMessage") {{addGameMsg.successMessage}}
					.message-text.text-warning(ng-if="addGameMsg.warningMessage") {{addGameMsg.warningMessage}}
					.message-text.text-danger(ng-if="addGameMsg.errorMessage") {{addGameMsg.errorMessage}}
					button.btn.btn-lg.btn-primary.btn-block(type="submit", ng-click="addGame(addGameForm.url)", ng-disabled="addGameMsg.warningMessage") Add
